/*

@name Fonts
@description Fonts
@section Basics
@type UI
@extended false

*/

$font-path: ('assets/fonts');

@font-face {
    font-family: 'lost';
    src: url('#{$font-path}/300.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'lost';
    src: url('#{$font-path}/400.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'lost';
    src: url('#{$font-path}/500.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'lost';
    src: url('#{$font-path}/700.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}